<section (click)="closeTheMenu()" >
    <app-common-navbar [whiteColor] = "isWhite"></app-common-navbar>

    <div class="content fontQuicksand">
        <div class="main">
        <div class="content_left">
            <h2 class="fontEckzar">{{ 'contact.h2_part1' | translate }}<br>{{ 'contact.h2_part2' | translate }}<br>{{ 'contact.h2_part3' | translate }}</h2>
            <div>
                <p class="colorize">{{ 'contact.text1' | translate }}</p><br>
                <p>{{ 'contact.text2' | translate }}</p>
            </div>
        </div>
        <div class="content_right">
            <div class="formular">
                <app-formular></app-formular>
            </div>
        </div>
    </div>
        <div class="scroll_bar">
            <app-navdots [whiteColor]="isWhite" [sectionIndex]="indexOfThisSection"></app-navdots>
        </div>
    </div>
    <img class="blue_sun rotating" src="./assets/animation_wheels/animation_wheel_blue.svg" alt="blue rotating wheel">
    <img class="orange_sun rotate_anticlockwise" src="./assets/animation_wheels/animation_wheel_orange.svg" alt="orange rotating wheel">
    <app-footer></app-footer>
</section>
