section {
    background-color: #1D1D1D;
    scroll-snap-align: start;
    color: #F8F7E5;
    height: 100dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 100%;
    max-width: 1440px;
    height: 100%;
    padding-left: 112px;
    padding-right: 72px;
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.main {
    display: flex;
    flex-direction: row;
    gap: 40px;
}

h2 {
    color: #f9af41;
    text-wrap: nowrap;
}

.content_left {
    //margin-top: 72px;
    width: 528px;
    display: flex;
    flex-direction: column;
    gap: 36px;
    position: relative;
}

.content_rigth {
    width: 100%;
    height:auto;
}

.formular {
   top: 175px;
}

.blue_sun {
    z-index: 10;
    right: 13%;
}

.gearwheels {
    overflow: hidden; 
    z-index: 2;
    position: relative;
    bottom: -57px;
}

.colorize {
    font-family: 'Quicksand';
    color: #ff834f;
    font-size: 24px;
    font-weight: 700;
}

app-common-navbar {
    width: 100%;
    max-width: 1440px;
}

app-footer {width: 100%; position: relative; bottom: 0; max-width: 1440px;}

app-navdots {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    >a{
        >img{height: 8px; width: 8px;}
    }
  }

@media(max-width: 1195px) {
    .checking {align-items: flex-start;}
    .legal_information {font-size: 16px;}
    input [type=checkbox] {margin-top: 4px; margin-left: 8px;}
    .content_left {margin-top: 20px;}
}

@media (max-width: 1171px) {
    app-formular {height: 100%;}
    .formular {margin-top: 86px;}
}

@media (max-width: 1128px) {
    h2 {font-size: 55px; line-height: 55px;}
}

@media (max-width: 1020px) {
    .content {padding-left: 72px; gap: 16px;}
    .main {gap: 16px;}
}

@media (max-width: 940px) {
    h2 {font-size: 39px; line-height: 39px;}
    .content_left {width: 380px;}
}

@media (max-width: 710px) {
    h2 {font-size: 36px; line-height: 36px;}
}

@media (max-width: 785px) {
    .content_left {margin-top: 0; gap: 16px; width: 100%;}
    .main {flex-direction: column;}
    .formular {margin-top: 16px;}
    .orange_sun {left: 36px;}
    .blue_sun {left: 127px;}
    svg {
        &:first-of-type {
            height: 190px;
        }
    }
}

@media (max-width: 720px) {
    svg {display: none;}
}

@media (max-width: 520px) {
    h2 {font-size: 26px; line-height: 26px;}
}

@media (max-width: 450px) {
    .scroll_bar {display: none;}
    .content {padding-left: 16px; padding-right: 16px;}
    .colorize {color:#f9af41;}
}