<div class="navbar" (click)="closeMenuTab()">
    @if(whiteColor){
        <a href="#portfolioStart"><img class="personal_logo" src="./assets/logo/logo_white_nobg.png" alt="logo in black"></a>	
    }
    @else {
        <a href="#portfolioStart"><img class="personal_logo" src="./assets/logo/logo_black_nobg.png" alt="logo in white"></a>
    }
    	
    <div class="menu">
        @if(whiteColor) {
            <img id="defaultEnIcon" src="./assets/languages/default_en.svg" *ngIf="germanText" (click)="changeToEnglish()" alt="EN icon in white">
            <img id="defaultDeIcon" src="./assets/languages/default_de.svg" *ngIf="englishText" (click)="changeToGerman()" alt="DE icon in white">
            <img class="burger_menu" (click)="openMenuTab($event); $event.stopPropagation()" src="./assets/menu_icons/menu_default.svg" alt="burger menu icon in white">
            
        } @else {
            <img id="blackEnIcon" src="./assets/languages/black_en.svg" *ngIf="germanText" (click)="changeToEnglish()" alt="EN icon in black">
            <img id="blackDeIcon" src="./assets/languages/black_de.svg" *ngIf="englishText" (click)="changeToGerman()" alt="DE icon in black">
            <img class="burger_menu" (click)="openMenuTab($event); $event.stopPropagation()" src="./assets/menu_icons/menu_black.svg" alt="burger menu icon in black">
        }
        
    </div>
    <div class="menu_tab fontQuicksand font_bold" [ngClass]="{ 'menu_open': menuOpen }">
        <div class="heading">
            <span>Menu</span>
            <img (click)="closeMenuTab()" id="menuClosed" src="./assets/menu_icons/close.svg" alt="x for closing menu">
        </div>
        <div class="links_list">
            <a (mouseenter)="showWheelAbout = true" (mouseleave)="showWheelAbout = false" href="#about" (click)="closeMenuTab()">@if(showWheelAbout){<img src="./assets/animation_wheels/orange_sun.svg" alt="orange_wheel">}About me</a>
            <a (mouseenter)="showWheelSkills = true" (mouseleave)="showWheelSkills = false" href="#competences" (click)="closeMenuTab()">@if(showWheelSkills){<img src="./assets/animation_wheels/orange_sun.svg" alt="orange_wheel">}Skills</a>
            <a (mouseenter)="showWheelPortfolio = true" (mouseleave)="showWheelPortfolio = false" href="#my_work" (click)="closeMenuTab()">@if(showWheelPortfolio){<img src="./assets/animation_wheels/orange_sun.svg" alt="orange_wheel">}Portfolio</a>
            <a (mouseenter)="showWheelRef = true" (mouseleave)="showWheelRef = false" href="#references" (click)="closeMenuTab()">@if(showWheelRef){<img src="./assets/animation_wheels/orange_sun.svg" alt="orange_wheel">}References</a>
            <a (mouseenter)="showWheelContact = true" (mouseleave)="showWheelContact = false" href="#contact" (click)="closeMenuTab()">@if(showWheelContact){<img src="./assets/animation_wheels/orange_sun.svg" alt="orange_wheel">}Contact me</a>
        </div>
    </div>
</div>
