.navbar {
    height: 88px;
    width: 100%;
    padding: 24px 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 32px;
    >a {
        cursor: pointer;
        >img {
            cursor: pointer;
        }
    }
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 88px;
    height: 40px;
    gap: 16px;
    >img {cursor: pointer;}
}

.personal_logo {
        height: 50px;
}

.menu_tab {
    position: absolute;
    top: 12px;
    right: -5000px;
    top: -500px;
    z-index: 15;
    height: 222px;
    width: 208px;
    border-radius: 4px;
    border: 1px solid #1d1d1d;
    padding: 16px;
    background-color: #f8f7e5;
    display: flex;
    flex-direction: column;
    gap: 16px;
    display: none;
}

.menu_tab .links_list {
    box-sizing: border-box;
    >a {padding: 1px;}
}

.menu_open {
    display: flex;
    flex-direction: column;
    transition: 0.4s;
    position: absolute;
    top: 12px;
    right: 50px;
    z-index: 15;
    box-sizing: border-box;
}

.heading {
    display: flex;
    justify-content: space-between;
    >span {
        color: #679aac;
        font-weight: bold;
        font-size: 22px;
    }
    >img {
        &:hover {
            cursor: pointer;
        }
    }
}

#menuClose:hover {
    content: url(./../../../../public/assets/menu_icons/close_hover.svg);
}

#burgerMenu:hover {
    content: url(./../../../../public/assets/menu_icons/menu_hover.svg);
}

#gitHubIcon:hover {
    content: url(./../../../../public/assets/social_icons/github_hover.svg);
}

#envelopeIcon:hover {
    content: url(./../../../../public/assets/social_icons/mail_hover.svg);
}

#enIcon:hover {
    content: url(./../../../../public/assets/languages/hover_en.svg);
}

#deIcon:hover {
    content: url(./../../../../public/assets/languages/white_de_hover.svg);
}

.links_list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    >a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #1d1d1d;
        box-sizing: border-box;
        &:hover {
            color: #679aac;
            box-sizing: border-box;
        }
        >img {
            height: 20px;
        }
    }
}

.icons_list {
    display: none;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

@media (max-width: 830px) {
    .personal_logo {
        height: 30px;
}
}

@media (max-width: 700px) {
    .menu {>img{height: 35px;}}
    .icons {>svg{height: 27px;}}
}

@media(max-width: 600px) {
    .icons {display: none;}
    .menu_open{
        height: 270px;
    }
    .icons_list {
        display: flex;
    }
}

@media(max-width: 450px){
    .navbar {
        height: 72px;
        padding: 24px 16px;
    }
    .menu_open {
        right: 3px;
        top: 0; 
    }
}