<div class="box">
    <div class="border" (mouseenter)="showWheel = true" (mouseleave)="showWheel = false">
        <div class="name font_bold">Caryen Song</div>
        <div class="description_text">{{ 'reviews.review1' | translate }}</div>
        <div class="font_bold">Frontend Developerin</div>
        <img *ngIf="showWheel" class="hover_wheel" src="./assets/animation_wheels/orange_sun.svg" alt="orange_wheel">
    </div>
    <div (click)="goToLinkedInUrl()" class="link font_bold">
        <span>{{ 'reviews.link' | translate }} >></span>
    </div>
</div>
