section {
    background-color: #F8F7E5;
    scroll-snap-align: start;
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
}
app-common-navbar {width: 100%;}

app-navdots {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    >a{
        >img{height: 8px; width: 8px;}
    }
  }

.content {
    width: 100%;
    max-width: 1440px;
    padding-left: 72px;
    padding-right: 72px;
    height: calc(100vh - 88px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.main {
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.headline {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    height: 102px;
    width: 942px;
    margin-top: 72px;
}

h2 {
    line-height: 72px;
    white-space: nowrap;
}

.slider {
    height: 488px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 112px;
    gap: 40px;
}

.screenshot {
    border: 1px solid #1d1d1d;
    border-radius: 4px;
    background-color: #f9af43;
    height: 100%;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    >.project_image {
        width: 90%;
        z-index: 20;
    }
    >.wheel {
        position: absolute;
        height: 180px;
        bottom: 0;
        left: 0;
        z-index:10;
    }
}

.about_project {
    display: flex;
    flex-direction: column;
    width: 500px;
    background-color: #1d1d1d;
    border-radius: 4px;
    color:#F8F7E5;
    padding: 64px 32px;
    gap: 16px;
    >.interactiv_btns {
        display: flex;
        gap: 40px;
    }
}

.project_name {
    display: flex;
    justify-content: space-between;
}

h5 {
    font-size: 24px; 
    font-weight: 700;
}

.project_icon {
    height: 30px;
    height: 30px;
}

.my_contribution {
    border-radius: 4px;
    border: 1px solid #f8f7e5;
    padding: 32px;
    //display: none;
    //opacity: 0;
    justify-content: center;
    align-items: center;
    background-color: #679aac;
    color: #f8f7e5;
    font-family: 'Quicksand';
    align-self: flex-end;
    transition: opacity 0.4s ease-out;
}

.my_contribution_visible {
    display: flex;
    opacity: 100
}

.technologies {
    font-family: 'Karla';
    font-size: 16px;
    font-weight: 400px;
    color: #679aac;
}

.arrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#1d1d1d;
    font-weight: 700;
    margin-top: 32px;
}

@media(max-width: 1189px) {
    .slider {margin-left: 0;}
}

@media (max-width: 1140px) {
    .headline {margin-top: 16px; width: 100%;}
    .slider {gap: 16px;}
}

@media (max-width: 964px) {
    .about_project {padding: 16px; width: 440px;}
}

@media(max-width: 885px) {
    .slider {flex-direction: column;}
    .about_project {width: fit-content;}
}

@media (max-width: 850px) {
    h2 {font-size: 50px;}
    .arrows {margin-top: 16px;}
    .screenshot {height: 90%;}
}

@media (max-width: 740px) {
    .headline {margin-top: 0; gap: 16px;}
    .slider {height: 80%;}
}

@media (max-width: 709px) {
    h2 {font-size: 42px; line-height: 42px;}
}

@media (max-width: 669px) {
    .headline {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        height: fit-content;
        margin-bottom: 8px;
    }
    .about_project .interactiv_btns {gap: 8px;}

}

@media(max-width: 570px) {
    .screenshot {width: 100%;}
    .main {margin-right: 16px;}
}

@media (max-width: 519px) {
    .main {margin-right: 8px;}
    .about_project .interactiv_btns {justify-content: center;}
    .btn {margin-bottom: 8px; width: 130px;}
    .arrows {font-size: 14px;}
}

@media (max-width: 476px) {
    h2 {font-size: 36px; line-height: 36px;}
}

@media (max-width: 450px) {
    .content {padding-right: 16px; padding-left: 16px;}
    .scroll_bar {display: none;}
    .arrows {font-size: 15px;}
}

@media (max-width: 350px) {
    .screenshot {height: 270px;}
    .btn {
        width: 122px;
        padding: 8px 16px;
        font-size: 14px;
    }
    .headline span {font-size: 14px;}
    .about_project {font-size: 14px;}
    .arrows {font-size: 14px;}
}