<section (click)="closeTheMenu()" >
    <app-common-navbar></app-common-navbar>

    <div class="content">
        <div class="main">
            <div class="headline">
                <h2 class="fontEckzar">{{ 'work.h2' | translate }}</h2>
                <span class="fontQuicksand">{{ 'work.text' | translate }}</span>
            </div>
            <div class="slider">
                <div class="screenshot">
                    <img class="project_image" src="{{ projects[0].imgSrc }}" alt="">
                    <img class="wheel rotating" src="././assets/animation_wheels/orange_sun.svg" alt="">
                </div>
                <div class="description fontQuicksand">
                    <div class="about_project">
                        <div class="project_name">
                            <h5>{{ projects[0].name }}</h5>
                            <img 
                            (mouseover)="showContribution = true"
                            (mouseleave)="showContribution = false"
                            class="project_icon jumping_icon" src="{{ projects[0].iconSrc }}" alt="icon for showing more info">
                        </div>
                        <span class="technologies">{{ projects[0].technologies }}</span>
                        {{ 'work.Pokedex.description' | translate }}
                        <div class="interactiv_btns">
                            <button class="btn" (click)="goToUrl(projects[0].gitHubUrl)">Git Hub <img src="./assets/menu_icons/arrow_outward.svg" alt="illustrating arrow"></button>
                            <button class="btn" (click)="goToUrl(projects[0].liveUrl)">Live Test <img src="./assets/menu_icons/arrow_outward.svg" alt="illustrating arrow"></button>
                        </div>
                    </div>
                    <div class="arrows">
                        <span class="slide_btn"><< {{ 'work.arrow_left' | translate }}</span>
                        <span class="slide_btn">{{ 'work.arrow_right' | translate }} >></span>
                    </div>
                </div>
            </div>

            <div class="my_contribution" *ngIf="showContribution">
                {{ 'work.Pokedex.contribution' | translate }}
            </div>

        </div>
        <div class="scroll_bar">
            <app-navdots [whiteColor]="isWhite" [sectionIndex]="indexOfThisSection"></app-navdots>
        </div>
    </div>

</section>
