<section id="my_work" (click)="closeTheMenu()" >
    <app-common-navbar></app-common-navbar>

    <div class="content">
        <div class="main">
            <div class="headline">
                <h2 class="fontEckzar">{{ 'work.h2' | translate }}</h2>
                <span class="fontQuicksand">{{ 'work.text' | translate }}</span>
            </div>
            <div class="slider">
                <div class="screenshot">
                    <img class="project_image" src="././assets/screenshots/pokedex.png" alt="">
                    <img class="wheel" src="././assets/animation_wheels/orange_sun.svg" alt="">
                </div>
                <div class="description fontQuicksand">
                    <div class="text">
                        {{ 'work.description' | translate }}
                        <div class="interactiv_btns">
                            <button class="btn">Git Hub</button>
                            <button class="btn">Live Test</button>
                        </div>
                    </div>
                    <div class="arrows">
                        <span><< {{ 'work.arrow_left' | translate }}</span>
                        <span>{{ 'work.arrow_right' | translate }} >></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="scroll_bar">
            <img src="./assets/sidebar/Property 1=My_work.svg" alt="">
        </div>
    </div>

</section>
