<section (click)="closeTheMenu()" >
    <app-common-navbar></app-common-navbar>

    <div class="content">
        <div class="main">
            <div class="headline">
                <h2 class="fontEckzar">{{ 'work.h2' | translate }}</h2>
                <span class="fontQuicksand">{{ 'work.text' | translate }}</span>
            </div>
            <div class="slider">
                <div class="screenshot">
                    <img class="project_image" src="{{ projects[currentIndex].imgSrc }}" alt="">
                    <img class="wheel rotating" src="././assets/animation_wheels/orange_sun.svg" alt="">
                </div>
                <div class="description fontQuicksand">
                    <div class="about_project">
                        <div class="project_name">
                            <h5>{{ projects[currentIndex].name }}</h5>
                            <img 
                            (mouseover)="showContribution = true"
                            (mouseleave)="showContribution = false"
                            class="project_icon jumping_icon" src="{{ projects[currentIndex].iconSrc }}" alt="icon for showing more info">
                        </div>
                        <span class="technologies">{{ projects[currentIndex].technologies }}</span>
                        {{ projects[currentIndex].descriptionKey | translate }}
                        <div class="interactiv_btns">
                            <button class="btn" (click)="goToUrl(projects[currentIndex].gitHubUrl)">Git Hub <img src="./assets/menu_icons/arrow_outward.svg" alt="illustrating arrow"></button>
                            <button class="btn" (click)="goToUrl(projects[currentIndex].liveUrl)">Live Test <img src="./assets/menu_icons/arrow_outward.svg" alt="illustrating arrow"></button>
                        </div>
                    </div>
                    <div class="arrows">
                        <span class="slide_btn" (click)="showPreviousProject()"><< {{ 'work.arrow_left' | translate }}</span>
                        <span class="slide_btn" (click)="showNextProject()">{{ 'work.arrow_right' | translate }} >></span>
                    </div>
                </div>
            </div>

            <div class="my_contribution" *ngIf="showContribution">
                {{ projects[currentIndex].contributionKey | translate }}
            </div>

        </div>
        <div class="scroll_bar">
            <app-navdots [whiteColor]="isWhite" [sectionIndex]="indexOfThisSection"></app-navdots>
        </div>
    </div>

</section>
