section {
    background-color: #F8F7E5;
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
}

app-common-navbar {
    width: 100%;
    max-width: 1440px;
}

.content {
    width: 100%;
    max-width: 1440px;
    padding-left: 72px;
    padding-right: 72px;
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left_side {
    display: flex;
    >img {
        margin-left: 40px;
        object-fit: contain;
        height: 100%;
        border-radius: 4px 4px 0 0;
        align-self: flex-end;
    }
}

.right_side {
    display: flex;
    flex-direction: column;
}

h2 {
    line-height: 107px;
    font-size: 72px;
    font-weight: 700;
    color: #1D1D1D;
    white-space: nowrap;
    align-self: flex-end;
}

.text_over {
    position: absolute;
    left: 500px;
    top: 42vh;
    width: 110%;
    background-color: #1D1D1D;
    border-radius: 4px;
    padding: 32px;
    z-index: 2;
    align-self: center;
    justify-self: end;
    color: #F8F7E5;
}

.interactive {
    display: flex;
    justify-content: space-between;
}

.description {
    text-align: justify;
	text-align-last: none;
}

.btn {margin-bottom: 0;}

.info_slide_up {
    position: relative;
    border-radius: 4px;
    border: 1px solid black;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    background-color: #679aac;
    color: #f8f7e5;
    font-family: 'Quicksand';
    justify-self: center;
    align-self: center;
    z-index: 100;
    >div {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 16px;
        font-weight: 400px;
    }
}

.x_icon {
    display: none;
}

@keyframes lets_slide {
    from { transform: translateY(0); } /* Startposition rechts außen */
    to { transform: translateY(-200px); } /* Endposition sichtbar (rechts) */
}

.show_info_slider {
    animation: lets_slide 0.4s ease-out forwards;
    z-index: 300;
    position: absolute;
    bottom: 0;
    bottom: -139px;
    right: 25%;
}

h5 {
    font-size: 24px;
    font-weight: 700;
}

.menu_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

app-navdots {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    >a{
        >img{height: 8px; width: 8px;}
    }
  }

  .scroll_bar {padding-bottom: 150px;}

  .mobile_view_text {display: none;}

//************max-width*******************************************************
@media(max-width: 1290px) {
    .left_side >img {margin-left: 0;}
    .text_over {left: 396px;}
    .show_info_slider {right: 23%;}
}

@media (max-width: 1200px) {
    .left_side >img {
        width: 412px; 
        align-self: flex-start; 
        height: unset;
        padding-top: 0;
    }
    .text_over {left: 319px; width: 161%;}
}

@media (max-width: 1183px) {
    .text_over {width: 140%;}
    .show_info_slider {bottom: -164px;}
}

@media (max-width: 1088px) {
    .text_over {left: 270px;}
}

@media (max-width: 1048px) {
    .left_side >img {width: 347px;}
    .show_info_slider {right: 29%;}
}

@media (max-width: 994px) {
    .text_over {
        padding: 16px;
        font-size: 16px;
        left: 220px;
    }
    .info_slide_up {padding: 16px; gap: 16px;}
    h5 {font-size: 20px;}
}

@media (max-width: 900px) {
    app-navdots {display: none;}
    .x_icon {display: block;}
}

@media (max-width: 889px) {
    .left_side >img {width: 300px;}
    h2 {font-size: 62px;}
    .text_over {top: 38vh;}
}

@media (max-width: 795px) {
    h2 {font-size: 48px; padding-left: 11vw;}
    .text_over {left: 148px;}
}

@media (max-width: 775px) {
    h2 {padding-left: 9vw;}
    .text_over {top: 38vh;}
}

@media (max-width: 759) {
    h2 {padding-left: 7vw;}
}

@media (max-width: 744) {
    h2 {padding-left: 5vw;}
}

@media (max-width: 725) {
    h2 {padding-left: 2vw;}
}

@media (max-width: 700px) {
    .content {padding-right: 16px; padding-left: 16px;}
    h2{padding: 0;}
}

@media (max-width: 607px) {
    .vanishable {display: none;}
    .text_over {width: 120%;}
}

@media (max-width: 550px) {
    app-common-navbar {display: none;}
    .content{padding-top: 32px;}
}

@media (max-width: 570px) {
    .left_side >img {
        width: 240px; 
        align-self: flex-start; 
        height: unset;
        padding-top: 46px;
    }
    h2 {font-size: 40px; line-height: 40px;}
    .text_over {top: 35vh;}
}

@media (max-width: 511px) {
    .btn {margin-top: 0;}
}

@media (max-width: 480px) {
    h2 {position: absolute;
        right: -24vw;}
    .left_side >img {width: 200px;}
    .text_over {left: 108px; width: 159%;}
}

@media (max-width: 466px) {
    .text_over {width: 137%;}
}

@media (max-width: 425px) {
    .text_over {left: 82px;}
}

@media (max-width: 399px) {
    .left_side >img {width: 172px;}
    .text_over {top: 29vh;}
    h2 {right: -19vw;}
}

@media(max-width: 380px) {
    .mobile_view_text {display: block;}
    .normal_view_text {display: none;}
    .show_info_slider {right: 24%; bottom: -111px;}
}

@media (max-width: 360px) {
    .btn {padding: 8px 16px; width: 124px;}
    .show_info_slider {right: 15%;}
    .text_over {left: 66px;}
}

@media (max-width: 345px) {
    .text_over {top: 40vh;
        left: 28px;
        width: 240px;
        height: 312px;}
    .left_side >img {width: 240px;}
    h2 {right: -3vw;}
}

//*****Nesthub**************************************
@media screen and (width: 1024px) and (height: 600px) {
    .text_over {top: 22vh;}
}

//*****surface Pro 7**************************************
@media screen and (width: 912px) and (height: 1368px) {
    .show_ingo_slider {bottom: -94px;}
}

//*****iPhoneSE**************************************
@media screen and (width: 375px) and (height: 667px) {
    .show_info_slider {right: 26%;}
}