<section (click)="closeTheMenu()">
    <app-common-navbar [whiteColor]="isWhite" ></app-common-navbar>

    <div class="content">
        <div class="left_side"><img src="./assets/imgs/about_me_crop.png" alt=""></div>
        <div class="right_side">
            <h2 class="fontEckzar">{{ 'about_me.h2' | translate }}</h2>
            <div class="scroll_bar">
                <img src="./assets/sidebar/Property 1=Aboutme.svg" alt="">
            </div>
        </div>
    </div>

    <div class="text_over">
        <div class="description fontQuicksand">
            <p>{{ 'about_me.text1' | translate }}</p>
            <br>
            <p>{{ 'about_me.text2' | translate }}</p>
            <div class="interactive">
               <a href="#contact"><button class="btn fontQuicksand">Let´s Talk</button></a>
                <img class="jumping_icon" src="./assets/emojis/secret.svg" alt="">
            </div>
            
        </div>
    </div>
    
</section>
