section {
    background-color: #F8F7E5;
    height: 100dvh;
    width: 100dvw;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    width: 100dvw;
    max-width: 1440px;
    padding-left: 72px;
    padding-right: 72px;
    height: calc(100vh - 88px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left_side {
    >img {
        margin-left: 40px;
        object-fit: contain;
        height: 100%;
    }
}

.right_side {
    display: flex;
    width: 100%;
    justify-content: space-between;

}

h2 {
    line-height: 72px;
    font-size: 72px;
    font-weight: 700;
    color: #1D1D1D;
    margin-left: calc(100% - 313px);
    white-space: nowrap;
}

.text_over {
    background-color: #1D1D1D;
    border-radius: 4px;
    padding: 32px;
    width: 600px;
    height: 250px;
    position: absolute;
    top: 490px;
    left: 500px;
    color: #F8F7E5;
}

.interactive {
    display: flex;
    justify-content: space-between;
}