section {
    background-color: #F8F7E5;
    height: 100dvh;
    width: 100%;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
}

app-common-navbar {
    width: 100%;
    max-width: 1440px;
}

.content {
    width: 100%;
    max-width: 1440px;
    padding-left: 72px;
    padding-right: 72px;
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left_side {
    display: flex;
    >img {
        margin-left: 40px;
        object-fit: contain;
        height: 100%;
        border-radius: 4px 4px 0 0;
        align-self: flex-end;
    }
}

.right_side {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

h2 {
    line-height: 107px;
    font-size: 72px;
    font-weight: 700;
    color: #1D1D1D;
    white-space: nowrap;
    align-self: flex-end;
}

.text_over {
    position: absolute;
    left: 79%;
    top: 42vh;
    width: 40vw;
    max-width: 547px;
    background-color: #1D1D1D;
    border-radius: 4px;
    padding: 32px;
    z-index: 2;
    align-self: center;
    justify-self: end;
    color: #F8F7E5;
}

.interactive {
    display: flex;
    justify-content: space-between;
}

.description {
    text-align: justify;
	text-align-last: none;
}

.btn {margin-bottom: 0;}

.info_slide_up {
    position: absolute;
    border-radius: 4px;
    border: 1px solid black;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;
    background-color: #679aac;
    color: #f8f7e5;
    font-family: 'Quicksand';
    z-index: 100;
    >div {
        display: flex;
        align-items: center;
        gap: 8px;
        font-size: 16px;
        font-weight: 400;
    }
}

.show_info_slider {
    animation: lets_slide 0.4s ease-out forwards;
    z-index: 300;
    position: absolute;
    bottom: 162px;
    left: 35px;
}

.x_icon {
    display: none;
}

@keyframes lets_slide {
    from { transform: translateY(100%); } 
    to { transform: translateY(20%); } 
}

h5 {
    font-size: 24px;
    font-weight: 700;
}

.menu_title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

app-navdots {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    >a{
        >img{height: 8px; width: 8px;}
    }
  }

  .scroll_bar {padding-bottom: 150px;}

  .mobile_view_text {display: none;}

// ************max-width*******************************************************
@media (max-width: 1290px) {
    .left_side >img {margin-left: 0;}
}

@media (max-width: 1200px) {
    .left_side >img {
        width: 412px; 
        align-self: flex-start; 
        height: unset;
        padding-top: 0;
    }
}

@media (max-width: 1189px) {
    .text_over {top: 39vh; width: 50vw;}
}

@media (max-width: 1048px) {
    .left_side >img {width: 347px;}
    .text_over {left: 27vw; top: 36vh;}
}

@media (max-width: 994px) {
    .text_over {
        padding: 16px;
        font-size: 16px;
    }
    .info_slide_up {padding: 16px; gap: 16px;}
    h5 {font-size: 20px;}
}

@media (max-width: 925px) {
    .show_info_slider {left: -42px;}
}

@media (max-width: 900px) {
    app-navdots {display: none;}
    .scroll_bar {display: none;}
    .x_icon {display: block;}
}

@media (max-width: 889px) {
    .left_side >img {width: 300px;}
    h2 {font-size: 62px;}
    .text_over {top: 38vh;}
}

@media (max-width: 795px) {
    h2 {font-size: 48px; padding-left: 11vw;}
}

@media (max-width: 775px) {
    h2 {padding-left: 9vw;}
    .text_over {top: 38vh;}
}

@media (max-width: 760px) {
    h2 {padding-left: 7vw;}
    .text_over {width: 55vw;}
}

@media (max-width: 744) {
    h2 {padding-left: 5vw;}
}

@media (max-width: 725px) {
    .show_info_slider {left: -148px;}
}

@media (max-width: 700px) {
    .content {padding-right: 16px; padding-left: 16px;}
    h2{padding: 0;}
    .text_over{width: 59vw;}
}

@media(max-width: 645px) {
    .text_over {top: 35vh;}
}

@media (max-width: 607px) {
    .vanishable {display: none;}
}

@media (max-width: 550px) {
    app-common-navbar {display: none;}
    .content{padding-top: 32px;}
}

@media (max-width: 575px) {
    .left_side >img {
        width: 240px; 
        align-self: flex-start; 
        height: unset;
        padding-top: 46px;
    }
    h2 {font-size: 40px; line-height: 40px;}
    .text_over {top: 35vh;}
}

@media (max-width: 511px) {
    .btn {margin-top: 0;}
}

@media (max-width: 493px) {
    .show_info_slider {left: -213px;}
}

@media (max-width: 480px) {
    .left_side >img {width: 200px;}
    .content {flex-direction: column-reverse; justify-content: flex-end;}
    .right_side {height: auto;}
    .show_info_slider {bottom: -1332%;
        left: 10%;}
}

@media (max-width: 430px) {
    .btn {    
        width: 121px;
        padding: 8px 8px;
    }
    .show_info_slider {left: 0;}
}

@media (max-width: 399px) {
    .left_side >img {width: 172px;}
}

@media(max-width: 380px) {
    .mobile_view_text {display: block;}
    .normal_view_text {display: none;}
}

@media(max-width: 372px) {
    .btn {width: 103px;}
    .show_info_slider { bottom: -1166%;}
}

@media (max-width: 348px) {
    .text_over {top: 40vh;}
    .left_side >img {width: 240px;}
}

// //*****Nesthub**************************************
@media screen and (width: 1024px) and (height: 600px) {
    .text_over {top: 23vh;}
}
