img {
    cursor: pointer;
}

app-navbar {
    display: flex;
}

.scroll_dots{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.one_dot {
    height: 8px;
    width: 8px;
}