.main_content{
    // scroll-snap-type: y mandatory;
    height: 100vh; 
    // overflow-x: hidden; 
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

app-above-the-folder {
    width: 100%;
}

app-about-me {
    width: 100%;
}

app-competences {
    width: 100%;
}

app-work {
    width: 100%;
}

app-reviews {
    width: 100%;
}

app-contact {
    width: 100%;
}