<section>
    <app-main-navbar></app-main-navbar>
    <div class="content fontQuicksand" (click)="closeTheMenu()">
        <h1 class="fontEckzar">{{ 'imprint.title' | translate }}</h1>
{{ 'imprint.law' | translate }}
<br>
Name:<br>
Barbora Lambeinova
<br><br>
{{ 'imprint.adress' | translate }}:<br>
Marktplatz 12<br>
86650 Wemding<br><br>

E-Mail-{{ 'imprint.adress' | translate }}:<br>
<a href="mailto:lambeinovab@seznam.cz">LambeinovabB et seznam . cz</a><br><br>

{{ 'imprint.site' | translate }}:<br>
barbora-lambeinova.de <br><br>

<h4>{{ 'imprint.disclaimer' | translate }}:</h4>

<p>{{ 'imprint.content' | translate }}</p>
<br>
<p>{{ 'imprint.liability' | translate }}</p>
<br>
<p>{{ 'imprint.copyright' | translate }}</p>
<br>
<p>{{ 'imprint.privacy-policy' | translate }}<a routerLink="/data_protection"> {{ 'imprint.privacy-policy-link' | translate }}</a>.</p>
 <br>

    </div>
    <app-footer></app-footer>
</section>
