<section (click)="closeTheMenu()" >
    <app-common-navbar [whiteColor]="isWhite" ></app-common-navbar>

    <div class="content">
        <div class="wrapper">
        <div class="content_left">
            <h2 class="fontEckzar">{{ 'competencen.h2' | translate }}</h2>
            <div class="description fontQuicksand">
                {{ 'competencen.text' | translate }}
            </div>
            <div class="animation">
                <img class="learning_sun" src="./assets/animation_wheels/orange_sun.svg" alt="">
                <img class="learning_icon" src="./assets/emojis/learning.svg" alt="">
            </div>
        </div>
        <div class="content_right fontQuicksand">
                @for (icon of icons; track $index) {
                    <div class="frontend_icon">
                        <img class="skillIcon" src="{{ icon.path }}" alt="">
                        <span>{{ icon.description }}</span>
                    </div>
                }
            
        </div>
    </div>
        <div class="scroll_bar">
            <img src="./assets/sidebar/Property 1=Skills.svg" alt="">
        </div>
    </div>


</section>
