<section (click)="closeTheMenu()" >
    <app-common-navbar [whiteColor]="isWhite" ></app-common-navbar>

    <div class="content">
        <div class="wrapper">
        <div class="content_left">
            <h2 class="fontEckzar">{{ 'competencen.h2' | translate }}</h2>
            <div class="description fontQuicksand">
                {{ 'competencen.text' | translate }}
            </div>
            <div class="animation">
                <img class="learning_sun rotating" [ngClass]="{'stop_rotating' : showFurtherSkills }" src="./assets/animation_wheels/orange_sun.svg" alt="">
                <img (mouseover)="showFurtherSkills = true" (mouseleave)="showFurtherSkills = false" class="learning_icon" src="./assets/emojis/learning.svg" alt="">
            </div>
            <div class="further_skills" *ngIf="showFurtherSkills" [ngClass]="{'further_skills_visible' : showFurtherSkills}">
                <h5>{{ 'competencen.further_skills.h5' | translate }}</h5>
                <p>{{ 'competencen.further_skills.p' | translate }}</p>
                <img src="./assets/frontend_icons/python_logo.svg" alt="python logo">
            </div>
        </div>
        <div class="content_right fontQuicksand">
                @for (icon of icons; track $index) {
                    <div class="frontend_icon">
                        <img class="skillIcon" src="{{ icon.path }}" alt="">
                        <span>{{ icon.description }}</span>
                    </div>
                }
            
        </div>
    </div>
        <div class="scroll_bar">
            <app-navdots [whiteColor]="isWhite" [sectionIndex]="indexOfThisSection"></app-navdots>
        </div>
    </div>


</section>
