section {
    background-color: #679aac;
    height: 100dvh;
    width: 100dvw;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navbar {
    height: 88px;
    padding: 24px 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1440px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 32px;
}

.menu {
    display: flex;
    width: 88px;
    height: 40px;
    gap: 16px;
}

.content {
    max-width: 1440px;
    padding-left: 72px;
    padding-right: 72px;
    height: calc(100vh - 88px);
    display: flex;
    flex-direction: row;
    position: relative;
}

.atf_left {
    width: 456px;
    height: 304px;
    margin-left: 40px;
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:16px;
    >.text {
        color: #F8F7E5;
        >span {
            font-size: 48px;
            line-height: 48px;
            font-weight: 400;  
        }
        >h1 {
            font-size: 96px;
            line-height: 96px;
            font-weight: 700;
        }
    }
    >img {
        height: 144px;
        &:hover {
            transform: rotate(360deg);
            transition-duration: 4000ms;
            transition-timing-function: linear;
        }
    }
}

.atf_right {
    height: 100%;
    width: 740px;
    position: relative;
    display: flex;
    justify-content: flex-end;
}

.sun {
    position: absolute;
    top: 190px;
    right: 110px;
    height: 350px;
    z-index: 5;
}
.my_foto {
    position: absolute;
    bottom: 0;
    right: 110px;
    height: 100%;
    z-index: 10;
}

@media (max-width: 100px){

}