<section (click)="closeTheMenu()" >
    <app-main-navbar></app-main-navbar>
    <div class="content">
        <div class="atf_left">
            <div class="text">
                <span class="fontQuicksand">{{ 'above_the_folder.headline1_part' | translate }}</span>
                <h1 class="fontEckzar">Barbora Lambeinova</h1>
                <span class="fontQuicksand">Frontend {{ 'above_the_folder.job' | translate }}</span>
            </div>
            <a href="#contact"><button class="btn fontQuicksand">Get in Touch</button></a>
            <img class="rotating" src="./assets/animation_wheels/scroll_sun.svg" alt="wheel with 'scroll down' text">
            <img class="arrow" src="./assets/animation_wheels/white_arrow.svg" alt="white arrow">
        </div>
        <div class="atf_right">
            <img class="sun" src="./assets/animation_wheels/orange_sun.svg" alt="">
            <img class="my_foto" src="./assets/imgs/foto_no_bg.png" alt="">
        </div>
        <div class="scroll_bar">
            <app-navdots></app-navdots>
        </div>
    </div>
</section>
