
<section>
    <app-main-navbar></app-main-navbar>
    <div class="content fontQuicksand" (click)="closeTheMenu()">
        <h1 class="fontEckzar">{{ 'privacy-policy.title' | translate }}</h1><br>
<h4>1. {{ 'privacy-policy.title01' | translate }}</h4><br>
{{ 'privacy-policy.text01' | translate }}
<br>
<br>
<h4>2. {{ 'privacy-policy.title02' | translate }}</h4><br>
{{ 'privacy-policy.text02' | translate }}
<br>
<br>
Barbora Lambeinova<br>
Marktplatz 12<br>
86650 Wemding<br>
<br>
<h4>3. {{ 'privacy-policy.title03' | translate }}</h4><br>
{{ 'privacy-policy.text03' | translate }}
<br>
<br>
Name<br>
{{ 'privacy-policy.adress' | translate }}<br>
{{ 'privacy-policy.message' | translate }}<br>
<br>
{{ 'privacy-policy.text03b' | translate }}<br>
<br>
<h4>4. {{ 'privacy-policy.title04' | translate }}</h4><br>

{{ 'privacy-policy.text04' | translate }}<br>
<br>
{{ 'privacy-policy.text04b' | translate }}<br>
<br>{{ 'privacy-policy.text04c' | translate }}
{{ 'privacy-policy.text04d' | translate }}<br>
<br>
{{ 'privacy-policy.text04e' | translate }}<br>
{{ 'privacy-policy.text04f' | translate }}<br>
<br>
<h4>5. {{ 'privacy-policy.title05' | translate }}</h4><br>
{{ 'privacy-policy.text05' | translate }}
<br>
<br>
<h4>6. {{ 'privacy-policy.title06' | translate }}</h4><br>
{{ 'privacy-policy.text06' | translate }}
<br>
<br>
<h4>7. {{ 'privacy-policy.title07' | translate }}</h4><br>
{{ 'privacy-policy.text07' | translate }}
<br>
<br>
<h4>8. {{ 'privacy-policy.title08' | translate }}</h4><br>
{{ 'privacy-policy.text08' | translate }}
<br>
<br>
{{ 'privacy-policy.text08a' | translate }}<br>
{{ 'privacy-policy.text08b' | translate }}<br>
{{ 'privacy-policy.text08c' | translate }}<br>
{{ 'privacy-policy.text08d' | translate }}<br>
{{ 'privacy-policy.text08e' | translate }}<br>
{{ 'privacy-policy.text08f' | translate }}<br>
{{ 'privacy-policy.text08g' | translate }}<br>
<br>
<h4>9. {{ 'privacy-policy.title09' | translate }}</h4><br>
{{ 'privacy-policy.text09' | translate }}
<br>
<br>
<h4>10. {{ 'privacy-policy.title10' | translate }}</h4><br>
{{ 'privacy-policy.text10' | translate }}
<br>
<br>
<h4>11. {{ 'privacy-policy.title11' | translate }}</h4><br>
{{ 'privacy-policy.text11' | translate }}
<br>
<br>
Barbora Lambeinova<br>
Marktplatz 12<br>
86650 Wemding<br>
<br><br><br>
    </div>
    <app-footer></app-footer>
</section>
