section {
    background-color: #679aac;
    width: 100%;
    color: #f8f7e5;
}

.content {
    min-height: calc(100vh - 173px);
    max-width: 1440px;
    padding-left: 112px;
    padding-right: 112px;
}