.formular {
    height: 370px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.your_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name_email {
    display: flex;
    flex-direction: column;
    &:hover {
        color: #ff824e;
    }
}

.message {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.checking {
    display: flex;
    align-items: center;
}

textarea {
    font-family: 'Quicksand';
    color: #f8f7e5;
    font-size: 16px;
    background-color: #1d1d1d;
    border: none;
    border-bottom: 1px solid #f9af41;
    padding: 16px;
}

input[type=text] {
    font-family: 'Quicksand';
    color: #f8f7e5;
    font-size: 16px;
    background-color: #1d1d1d;
    border: none;
    border-bottom: 1px solid #f9af41;
    padding: 16px;
}

input[type=checkbox] {
    border: 3px solid #f9af41;
    background-color: #1d1d1d;
}

label {
    font-size: 24px;
    font-weight: bold;
}

.legal_information {
    font-size: 18px;
}

.drop_line {
    display: flex;
    justify-content: center;
    align-items: center;
    
    >input {
        background-color:rgba(103, 154, 172, 0);
        border: 1px solid #F8F7E5;
        border-radius: 100px;
        width: 155px;
        height: 40px;
        color: #F8F7E5;
        font-size: 18px;
        font-family: 'Quicksand';
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover {
            background-color: #ff824e;
        }
}
}