/* eczar-regular - latin */
@font-face {
  font-family: 'Eczar';
  src: url(./../public/assets/fonts/Eczar/Eczar-VariableFont_wght.ttf);
}

/* quicksand-regular - latin */
@font-face {
  font-family: 'Quicksand';
  src: url('./../public/assets/fonts/Quicksand/Quicksand-VariableFont_wght.ttf');
}

  * {
    margin: 0;
    position: relative;
    box-sizing: border-box;
    scroll-behavior: smooth;
  }

  html {
    margin: 0;
    padding: 0;
  }

  .fontQuicksand {
    font-family: 'Quicksand';
  }

  .fontEckzar {
    font-family: 'Eczar';
  }

  .btn {
    background-color:rgba(103, 154, 172, 0);;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 12px 24px;
    border: 1px solid #F8F7E5;
    border-radius: 100px;
    width: 155px;
    height: 40px;
    color: #F8F7E5;
    font-size: 18px;
    font-family: 'Quicksand';
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    &:hover {
      background-color: #ff824e;
    }
}

h2 {
  font-weight:700;
  font-size: 72px;
  line-height: 72px;
}

.scroll_bar {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
}

.font_bold {
  font-weight: bold;
}

a {
  text-decoration: none;
}

app-common-navbar {
  width: 100%;
}

@keyframes jumping_icon {
  from {transform: translateY(2);}
  to {transform: translateY(-10px);}
}

.jumping_icon {
  animation: jumping_icon 0.9s linear infinite alternate;
}

.jumping_icon:hover {
  animation-play-state: paused;
  cursor: pointer;
}

@keyframes rotate_wheel {
  from {rotate: 0deg;}
  to {rotate: 360deg;}
}

.rotating {
  animation: rotate_wheel 11s linear infinite;
}

