<div class="portfolio_footer fontQuicksand">
        <div class="animated_wheels oneThird">
            
        </div>
        <div class="name_copyright oneThird">
            © Barbora Lambeinova 2025
        </div>
        <div class="links oneThird">
            <a routerLink="/impressum">{{ 'footer.imprint' | translate }}</a>
            <a href="https://www.linkedin.com/in/barbora-lambeinova-33706a35a/" target="_blank">LinkedIn</a>
            <a href="https://github.com/BaraDroid" target="_blank">Git Hub</a>
        </div>
</div>
