<div class="portfolio_footer fontQuicksand">
        <div class="animated_wheels">
            <img class="blue_sun" src="./assets/animation_wheels/orange_sun.svg" alt="">
            <img class="orange_sun" src="./assets/animation_wheels/orange_sun.svg" alt="">
        </div>
        <div class="name_copyright">
            ©Barbora Lambeinova 2025
        </div>
        <div class="links">
            <a href="#impressum">Impressum</a>
            <a href="www.linkedin.com/in/barbora-lambeinova-11b398352" target="_blank">LinkedIn</a>
            <a href="https://github.com/BaraDroid" target="_blank">Git Hub</a>
        </div>
</div>
