.portfolio_footer {
    color: #f8f7e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    padding: 32px;
}

.name_copyright{
    width: 100%;
    text-align: center;
    white-space: nowrap;
}

.links {
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
    align-items: center;
    white-space: nowrap;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #f8f7e5;
    font-family: 'Quicksand';
    &:hover {
        color: #ff824e;
    }
}

.oneThird {
    width: 33vw;
}

@media (max-width: 900px) {
    .portfolio_footer {
        padding: 0;
        padding-bottom: 16px;
        padding-right: 72px;
        flex-direction: column;
        align-items: flex-end;
        gap: 16px;
    }
    .links {justify-content: space-between;}
    .name_copyright {text-align: end;}
}

@media (max-width: 788px) {
    .portfolio_footer {
        padding: 0;
        padding-bottom: 16px;
        flex-direction: column;
        align-items: center;
    }
    .links {justify-content: space-evenly;}
    .name_copyright {text-align: center;}
    .name_copyright .oneThird {margin-bottom: 8px;}
    .links.oneThird {width: 100%;}
}

@media (max-width: 720px) {
    .oneThird {width: 100%};
}

@media (max-width: 550px) {
    .links {justify-content: space-between;}
    .links {padding: 0 16px;}
    .portfolio_footer {padding: 0 0 0 0;}
}

@media (max-width: 520px) {
    input[type=text] {padding: 8px;}
}

@media (max-width: 450px) {
    .oneThird {justify-content: space-between;}
}