<div class="portfolio_footer fontQuicksand">
        <div class="animated_wheels oneThird">
            
        </div>
        <div class="name_copyright oneThird">
            ©Barbora Lambeinova 2025
        </div>
        <div class="links oneThird">
            <a href="impressum">Impressum</a>
            <a href="www.linkedin.com/in/barbora-lambeinova-11b398352" target="_blank">LinkedIn</a>
            <a href="https://github.com/BaraDroid" target="_blank">Git Hub</a>
        </div>
</div>
