.portfolio_footer {
    color: #f8f7e5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1440px;
    padding: 32px;
}

.name_copyright{
    width: 100%;
    text-align: center;
    white-space: nowrap;
}

.links {
    display: flex;
    justify-content: space-evenly;
    gap: 16px;
    align-items: center;
    white-space: nowrap;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: #f8f7e5;
    font-family: 'Quicksand';
    &:hover {
        color: #ff824e;
    }
}

.oneThird {
    width: 33vw;
}