<section id="references" (click)="closeTheMenu()" >
    <app-common-navbar [whiteColor] = "isWhite"></app-common-navbar>

    <div class="content fontQuicksand">
        <div class="references">
            <h2 class="fontEckzar">Was andere über mich sagen:</h2>
            <div class="boxes">

                <div class="nr_one">
                    <app-first-review></app-first-review>
                </div>
                
                <div class="nr_two">
                    <app-second-review></app-second-review>
                </div>
                
                <div class="nr_three">
                    <app-third-review></app-third-review>
                </div>
                
            </div>
        </div>
        <div class="scroll_bar">
            <img src="./assets/sidebar/Property 1=References.svg" alt="">
        </div>
    </div>
</section>
