section {
    background-color: #679AAC;
    scroll-snap-align: start;
    height: 100vh;
    width: 100%;
    scroll-snap-align: start;
    display: flex;
    flex-direction: column;
    align-items: center;
}

app-common-navbar {
    width: 100%;
    max-width: 1440px;
}

.content {
    width: 100%;
    height: 100%;
    max-width: 1440px;
    padding-left: 112px;
    padding-right: 72px;
    display: flex;
    color:#f8f7e5;
}

.references {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.content h2 {
    text-wrap: nowrap;
    line-height: 72px;
    margin-top: 16px;
}

.boxes {
    display: flex;
    justify-content: space-between;
    height: 100%;
    margin-top: 48px;
    gap: 40px;
    padding-right: 40px;
}

.nr_one {
    align-self: flex-start;
}

.nr_two {
    align-self: center;
}

.nr_three {
    align-self: flex-end;
}

.nr_one .nr_two .nr_three {
    width: 25vw;
}

app-navdots {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    >a{
        >img{height: 8px; width: 8px;}
    }
  }

@media(max-width: 1108px) {
    .content h2 {font-size: 60px; margin-top: 36px;}
}

@media (max-width: 988px) {
    .boxes {flex-direction: column; justify-content: space-evenly;}
    .content h2 {font-size: 48px; margin-top: 0;}
    .content {padding-left: 72px; padding-right: 72px; justify-content: space-between; gap: 16px;}
    .nr_one {align-self: center;}
    .nr_two {align-self: center;}
    .nr_three {align-self: center;}
    .boxes {padding-right: 0;}
    app-first-review {width: 100%;}
    app-second-review {width: 100%;}
    app-third-review {width: 100%;}
}

@media (max-width: 754px) {
    .content h2 {font-size: 36px; line-height: 40px;}
}

@media (max-width: 710px) {
    .references {align-items: center;}
    .boxes {gap: 16px;}
}

@media (max-width: 450px) {
    .content {padding-right: 16px; padding-left: 16px;}
    .scroll_bar {display: none;}
}